@charset "UTF-8";
#container {
  position: relative;
  height: 700px;
  width: 500px;
  margin: 10px auto;
  overflow: hidden;
  border: 4px solid #5c090a;
  background: #4e4226 url("../image/backgroundLeaves.jpg") no-repeat top left;
}

/* 定义leafContainer div的位置和尺寸 */
#leafContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}
