.bg {
  position: relative;
  height: 800px;
  width: 600px;
  background: #ccc;
  overflow: hidden;
}
.zz {
  width: 30px;
  height: 30px;
  display: inline-block;
  animation: down 10s linear infinite;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.flower {
  width: 30px;
  height: 30px;
  background: url("../image/èŠ±.png") no-repeat;
  background-size: contain;
  text-align: center;
  display: inline-block;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  25% {
    transform: translateX(-70px);
  }
  50% {
    transform: translateX(100px);
  }
  75% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(60px);
  }
}

@keyframes down {
  100% {
    // transform: translateY(-600px) rotate(360deg) rotateY(360deg) rotateX(360deg);
    transform: translateY(-600px) rotate(360deg) ;

  }
}
