// body {
//   background: #2fa8ec75;
// }
.main {
  margin: 200px auto;
}

.box {
  position: relative;
  margin: 0 auto;
  width: 240px;
  height: 240px;
  transform-style: preserve-3d;
  animation: rotate 3s linear infinite;
  & > div {
    position: absolute;
    background: #fae48c;
    opacity: 0.6;
    width: 240px;
    height: 240px;
    line-height: 240px;
    backface-visibility: hidden;
    font-size: 60px;
    text-align: center;
    color: #000;
    //旋转的一个道理就是 看不见的面 直接旋转到背， 即180 ,当转动整体的时候  恰好反面即是正面
    &:nth-child(1) {
      background: #fae48c;
      transform: rotateX(90deg) translateZ(120px); //顶部
    }
    &:nth-child(2) {
      background: #9396ff;
      transform: translateZ(120px); //前面
    }
    &:nth-child(3) {
      background: #ff939f;
      transform: rotateY(90deg) translateZ(120px); //右边
    }
    &:nth-child(4) {
      background: #607d8bab;
      transform: rotateY(180deg) translateZ(120px); //后边 沿y轴翻旋转，把正面翻转到屏幕内 背面面对你，当转动整体的时候  恰好反面即是正面
    }
    &:nth-child(5) {
      background: #ff939f;
      transform: rotateY(-90deg) translateZ(120px); // 左边 沿y轴翻旋转，背面对着正方体内部，把正面翻转到屏幕左侧
    }
    &:nth-child(6) {
      background: #9c27b0;
      transform: rotateX(-90deg) translateZ(120px); // 底部    沿X轴翻旋转，把正面翻转到屏幕底部 背面对着正方体内部，永远到是正面在外面显示
    }
  }
}

@keyframes rotate {
  to {
    transform: rotateY(300deg) rotateX(310deg) rotate(310deg);
  }
}
