.bg {
  position: relative;
  height: 800px;
  width: 600px;
  background: #ccc;
  overflow: hidden;
}

.zz {
  width: 30px;
  height: 30px;
  display: inline-block;
  -webkit-animation: down 8s linear infinite;
          animation: down 8s linear infinite;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.flower {
  width: 30px;
  height: 30px;
  background: url("../image/flowers.png") no-repeat;
  background-size: contain;
  text-align: center;
  display: inline-block;
  -webkit-animation: rotate 8s linear infinite;
          animation: rotate 8s linear infinite;
}

@-webkit-keyframes rotate {
  25% {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
  50% {
    -webkit-transform: translateX(0) translateY(-60px);
            transform: translateX(0) translateY(-60px);
  }
  75% {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes rotate {
  25% {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
  50% {
    -webkit-transform: translateX(0) translateY(-60px);
            transform: translateX(0) translateY(-60px);
  }
  75% {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes down {
  100% {
    -webkit-transform: translateY(-600px) rotate(360deg);
            transform: translateY(-600px) rotate(360deg);
  }
}
@keyframes down {
  100% {
    -webkit-transform: translateY(-600px) rotate(360deg);
            transform: translateY(-600px) rotate(360deg);
  }
}
