.main {
  margin: 200px auto;
}

.box {
  position: relative;
  margin: 0 auto;
  width: 240px;
  height: 240px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
}
.box > div {
  position: absolute;
  background: #fae48c;
  opacity: 0.6;
  width: 240px;
  height: 240px;
  line-height: 240px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-size: 60px;
  text-align: center;
  color: #000;
}
.box > div:nth-child(1) {
  background: #fae48c;
  -webkit-transform: rotateX(90deg) translateZ(120px);
          transform: rotateX(90deg) translateZ(120px);
}
.box > div:nth-child(2) {
  background: #9396ff;
  -webkit-transform: translateZ(120px);
          transform: translateZ(120px);
}
.box > div:nth-child(3) {
  background: #ff939f;
  -webkit-transform: rotateY(90deg) translateZ(120px);
          transform: rotateY(90deg) translateZ(120px);
}
.box > div:nth-child(4) {
  background: #607d8bab;
  -webkit-transform: rotateY(180deg) translateZ(120px);
          transform: rotateY(180deg) translateZ(120px);
}
.box > div:nth-child(5) {
  background: #ff939f;
  -webkit-transform: rotateY(-90deg) translateZ(120px);
          transform: rotateY(-90deg) translateZ(120px);
}
.box > div:nth-child(6) {
  background: #9c27b0;
  -webkit-transform: rotateX(-90deg) translateZ(120px);
          transform: rotateX(-90deg) translateZ(120px);
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotateY(300deg) rotateX(310deg) rotate(310deg);
            transform: rotateY(300deg) rotateX(310deg) rotate(310deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotateY(300deg) rotateX(310deg) rotate(310deg);
            transform: rotateY(300deg) rotateX(310deg) rotate(310deg);
  }
}
